/*<!-- 
Author: Abubakar D. Basman
Date: 7/12/2015  
-->*/

body
{
  background-color: #E9EAED;
}

header section
{
	border: 1px solid rgb(166, 162, 162);
 	height: 5em;
 	background-color: rgb(37, 137, 234);
 	margin: auto;
  
}

header nav
{
  border: 0 solid maroon;
  border-radius: 3em;
  width: 57em;
  height: 3em;
  margin-left: 13em;
  background-color: rgba(188, 188, 188, 0.94);
}

header nav ul
{
  height: 2em;
  padding-top: .5em;
  margin-top: 0.5px;
}

header nav ul li
{
    float: left; 
    display: block;
}

header nav ul li a
{
text-decoration: none;
  padding-left: 1em;
  padding-right: 1em;
  padding-bottom: 1em;
  padding-top: 1em;
  font-size: 1.5em;
  font-stretch: semi-expanded;
  font-weight: bold;
  font-family: arial black;
  color: white;
}

header section .LS
{
	float: right;
  background-color: #50DD18;;
  opacity: 5;
  margin-top: 1em;
  border-top-left-radius: 1em;
  border-bottom-left-radius: 1em;
    width: 13em;
    padding-top: .8em;
  height: 2em;
  padding-bottom: .5em;
}

header section .LS a
{
	font-size: 1.4em;
  font-weight: bold;
  text-decoration: none;
  font-family: georgia;
  color: #FFFFFF;
    padding-left: 1em;
}

header section a img
{
	height: 4em;
  width: 15em;
  padding-top: .4em;
    margin: auto;
  align-self: center;
}

section
{
	  margin: auto;
  position: relative;
}

section header img
{
	  height: 12em;
  margin-left: 23em;
  margin-top: .8em;

}

section .Content
{
  border: 1px solid;
  background-color: rgb(255, 255, 255);
  height: 35em;
  border-radius: .5em;
  color: rgb(236, 236, 236);
}

section .Content .cat
{
 border: 0 solid;
  margin-top: 2em;
  width: 20em;
  border-top-right-radius: .5em;
  border-bottom-right-radius: .5em;
  background-color: rgb(188, 188, 188);
  height: 5em;
}

section .Content .cat h1
{
  border: 0 solid;
  margin-left: 1em;
  color: white;
  font-size: 2.5em;
  font-weight: bold;
  font-family: arial black;
  padding-top: 0.3em;
}

section .Content .categ
{
    border: 0 solid red;
  margin-top: 2em;
}

section .Content .categ .proj
{
	 border: 1px solid;
  float: left;
  height: 15em;
  width: 18em;
  margin-left: 2.5em;
  margin-top: 1.5em;
  border-radius: 1em;
  background-color: rgb(6, 160, 240);
}

section .Content .categ .proj img
{
 
  height: 15em;
  border-radius: 1.5em;
  width: 18em;
}

section .Content .categ .proj ul 
{
	  border: 0 solid;
  padding-left: 2.3em;
  font-family: garamond;
  font-weight: bold;
  color: white;
  background-color: gray;
  opacity: .9;
  font-size: 2em;
  padding-top: .2em;
  padding-bottom: .2em;
    margin-top: -2.5em;
}

section .Content .categ .proj ul a
{
    text-decoration: none;
  color: white;
  padding-left: 0.4em;
}

section .Content .categ .inv
{
    border: 1px solid;
  height: 15em;
  float: left;
  width: 18em;
  margin-left: 2em;
  margin-top: 1.5em;
  border-radius: 1em;
  background-color: rgb(76, 231, 34)
}

section .Content .categ .inv img
{
 
  height: 15em;
  border-radius: 1.5em;
  width: 18em;
}

section .Content .categ .inv ul 
{
    border: 0 solid;
  padding-left: 1.9em;
  font-family: garamond;
  font-weight: bold;
  color: white;
  background-color: gray;
  opacity: .9;
  font-size: 2em;
  padding-top: .2em;
  padding-bottom: .2em;
    margin-top: -2.5em;
}

section .Content .categ .inv ul a
{
    text-decoration: none;
  color: white;
  padding-left: 0.4em;
}

section .Content .categ .don
{
   border: 1px solid;
  float: left;
  height: 15em;
  width: 18em;
  margin-left: 2em;
  margin-top: 1.5em;
  border-radius: 1em;
  background-color: rgb(240, 95, 6)
}

section .Content .categ .don img
{
 
  height: 15em;
  border-radius: 1.5em;
  width: 18em;
}

section .Content .categ .don ul 
{
    border: 0 solid;
  padding-left: 2.3em;
  font-family: garamond;
  font-weight: bold;
  color: white;
  background-color: gray;
  opacity: .9;
  font-size: 2em;
  padding-top: .2em;
  padding-bottom: .2em;
    margin-top: -2.5em;
}

section .Content .categ .don ul a
{
    text-decoration: none;
  color: white;
  padding-left: 0.4em;
}

section .Content .categ .abt
{
   border: 1px solid;
  float: left;
  height: 15em;
  width: 18em;
  margin-left: 2em;
  margin-top: 1.5em;
  border-radius: 1em;
  background-color: rgb(255, 232, 0)
}

section .Content .categ .abt img
{
 
  height: 15em;
  border-radius: 1.5em;
  width: 18em;
}

section .Content .categ .abt ul 
{
    border: 0 solid;
  padding-left: 2.3em;
  font-family: garamond;
  font-weight: bold;
  color: white;
  background-color: gray;
  opacity: .9;
  font-size: 2em;
  padding-top: .2em;
  padding-bottom: .2em;
    margin-top: -2.5em;
}

section .Content .categ .abt ul a
{
    text-decoration: none;
  color: white;
  padding-left: 0.4em;
}